@use 'variables';

.banner {
  background: rgba(var(--background-rgb-color), 0.7);
  border-radius: variables.$radius-medium;
  box-shadow: 0 10px 30px rgba(var(--shadow-rgb-color), 0.15);
  position: fixed;
  padding: 15px;
  height: 60px;
  width: 100%;
  max-width: variables.$shell-max-width;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: saturate(180%) blur(20px);
}

@media screen and (max-width: variables.$breakpoint-mobile) {
  .banner {
    bottom: 55px;
  }
}

@media screen and (max-height: variables.$breakpoint-mobile) {
  .banner {
    display: none !important;
  }
}
