@use 'variables';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--background-color-darker);
  color: var(--text-color);
  font-family: variables.$font-family;
  margin: 0;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    top: -100vmax;
    left: -100vmax;
    background-image: radial-gradient(
      circle,
      var(--body-bg-color, var(--primary-darker-color)) 0%,
      transparent 50%
    );
    opacity: 0.15;
    z-index: -1;
    animation: glow-rotate 120s linear infinite;
    pointer-events: none;
    will-change: transform;
  }

  &::after {
    background-image: radial-gradient(
      circle,
      var(--body-bg-color, var(--secondary-color)) 0%,
      transparent 50%
    );
    animation-duration: 180s;
    animation-direction: reverse;
    opacity: 0.1;
  }
}

@keyframes glow-rotate {
  from {
    transform: rotate(0deg) translate(10%, 10%);
  }
  to {
    transform: rotate(360deg) translate(10%, 10%);
  }
}
