@use 'variables';

.button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  outline: 0;
  transition: background 0.3s;
}

.button--primary {
  background: var(--primary-color);
  border-radius: variables.$radius-medium;
  color: var(--primary-text-color);
  padding: 5px 15px;

  &:hover {
    background: var(--primary-lighter-color);
  }

  &:active {
    background: var(--primary-darker-color);
  }
}

.button--round {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.15);
  }

  &:active {
    transform: scale(1);
  }
}

.button--icon {
  color: var(--text-color);
  font-size: 2rem;
  line-height: 0;
}

.button--large {
  font-size: 3rem;
}

.button--small {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}

.button--block {
  background: var(--dialog-color);
  box-shadow: 0 -2px 6px 3px rgba(var(--shadow-rgb-color), 0.1);
  border-radius: variables.$radius-large variables.$radius-large 0 0;
  color: rgba(var(--text-rgb-color), 0.7);
  padding: 10px 15px;
  width: 100%;
  transition: color 0.3s;

  &:hover {
    color: var(--text-color);
  }
}

@media screen and (max-width: variables.$breakpoint-mobile) {
  .button--block {
    border-radius: variables.$radius-large variables.$radius-large 0 0;
  }
}
