@use 'variables';

.list {
  margin: 0;
  padding: 0;
}

.list__item {
  cursor: pointer;
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
  align-items: center;
  padding: 5px 15px;

  &:hover {
    background: var(--list-item-hover-color);
  }

  &:active {
    background: var(--list-item-active-color);
  }
}

.list__empty {
  color: var(--text-color);
  padding: 10px 15px;
}

.list__item__image {
  background: variables.$light-color;
  border-radius: variables.$radius-medium;
  max-width: 100%;
}

.list__item__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}

.list__item__title {
  color: var(--text-color);
  font-size: 15px;
  text-wrap: pretty;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.list__item__subtitle {
  color: var(--text-color);
  font-size: 12px;
  opacity: 0.5;
}
