@use 'variables';

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

@media screen and (min-width: variables.$breakpoint-mobile) {
  .player {
    height: 100%;
  }
}

.player__header {
  padding-inline: 15px;
}

.player__heading {
  margin-bottom: 0;
}

.player__image {
  flex-grow: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-inline: 10px;

  .image {
    height: 125px;
    width: 125px;
    background-image: var(--image, url('/img/icons/icon-512x512.png'));
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: variables.$radius-medium;
    position: relative;
  }

  .image::after {
    content: '';
    position: absolute;
    top: 0.75rem;
    left: 0;
    background-image: inherit;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(0.5rem) brightness(125%) saturate(200%) opacity(70%);
    transform: scale(0.95);
  }
}

.player__content {
  padding-top: 15px;
  padding-inline: 15px;
  flex-grow: 1;
  text-align: center;
}

.player__title {
  font-size: 1.5rem;
  margin-bottom: -5px;
  text-wrap: pretty;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.player__status {
  font-size: 1.2rem;
  opacity: 0.5;
}

.player__controls {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.player__controls__main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.player__controls__sub {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.player__switch {
  width: 100%;
}

.player--mini {
  .player {
    flex-direction: row;
  }

  .player__header {
    display: none;
  }

  .player__image {
    flex-grow: 1;

    .image {
      height: 75px;
      width: 75px;
    }
  }

  .player__content {
    flex-grow: 3;
    padding-top: 0;
    text-align: left;

    .player__status {
      margin-top: 10px;
    }
  }

  .player__controls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 10px;
    text-align: center;

    .player__controls__main,
    .player__controls__sub {
      display: flex;
      flex-direction: row; // Ensure buttons in groups stay in a row
      justify-content: center;
      gap: 5px;
    }

    .button {
      width: 40px;
      height: 40px;
    }
  }

  .player__switch {
    display: none;
  }
}
