@use 'variables';

.sidebar {
  flex-basis: 100%;
  flex-shrink: 0;
  border-left: 1px solid var(--outline-color);
}

@media screen and (min-width: variables.$breakpoint-mobile) {
  .sidebar {
    flex-basis: 320px;
  }
}
