@use "sass:color";
@use "functions";
@use "variables";

$background-color: color.mix(variables.$dark-color, variables.$light-color, 95%);

:root {
  --primary-color: #{variables.$primary-color};
  --primary-lighter-color: #{color.mix(variables.$primary-color, variables.$light-color, 80%)};
  --primary-darker-color: #{color.mix(variables.$primary-color, variables.$dark-color, 80%)};
  --primary-text-color: #{variables.$light-color};
  --secondary-color: #{variables.$secondary-color};
  --tertiary-color: #{variables.$tertiary-color};

  --background-color: #{$background-color};
  --background-rgb-color: #{functions.get-rgb($background-color)};
  --text-color: #{variables.$light-color};
  --text-rgb-color: #{functions.get-rgb(variables.$light-color)};
  --shadow-rgb-color: #{variables.$dark-rgb-color};

  --dialog-color: #{color.mix($background-color, variables.$light-color, 90%)};
  --list-item-hover-color: rgba(#{variables.$light-rgb-color}, 0.1);
  --list-item-active-color: rgba(#{variables.$light-rgb-color}, 0.2);
}
