@use 'sass:color';
@use 'functions';
@use 'variables';

:root {
  --primary-color: #{variables.$primary-color};
  --primary-lighter-color: #{color.mix(variables.$primary-color, variables.$light-color, 80%)};
  --primary-darker-color: #{color.mix(variables.$primary-color, variables.$dark-color, 80%)};
  --primary-text-color: #{variables.$light-color};
  --secondary-color: #{variables.$secondary-color};
  --tertiary-color: #{variables.$tertiary-color};

  --background-color: #{variables.$light-color};
  --background-rgb-color: #{functions.get-rgb(variables.$light-color)};
  --text-color: #{variables.$dark-color};
  --text-rgb-color: #{functions.get-rgb(variables.$dark-color)};
  --shadow-rgb-color: #{variables.$dark-rgb-color};

  --dialog-color: #{variables.$light-color};
  --list-item-hover-color: rgba(#{variables.$dark-rgb-color}, 0.1);
  --list-item-active-color: rgba(#{variables.$dark-rgb-color}, 0.2);
  --border-color: rgba(#{variables.$dark-rgb-color}, 0.1);
}
