@use 'functions';

$cyan: #19deea;
$pink: #ff2f56;
$purple: #9c4feb;

$primary-color: $pink;
$secondary-color: $cyan;
$tertiary-color: $purple;
$dark-color: #0d111d;
$light-color: #ffffff;

$dark-rgb-color: functions.get-rgb($dark-color);
$light-rgb-color: functions.get-rgb($light-color);

$shell-min-width: 360px;
$shell-max-width: 720px;
$shell-height: 520px;

$bar-height: 44px;

$radius-medium: 8px;
$radius-large: 16px;

$font-family: 'Plus Jakarta Sans', system-ui, sans-serif;

$breakpoint-mobile: 520px;
