.views {
  flex-basis: 100%;
  flex-shrink: 0;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: flex-shrink 0.3s ease-in-out;
}

.shell--sidebar-open .views {
  flex-shrink: 1;
}

.view {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s;
  position: relative;
}

.view__header {
  height: 65px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view__content {
  flex-grow: 1;
  overflow: auto;
  position: relative;
  z-index: 1;
}

.view--dialog {
  background-color: var(--dialog-color);
  backdrop-filter: saturate(180%) blur(30px);
}
