.views {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.view {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s;
}

.view__header {
  height: 65px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view__content {
  flex-grow: 1;
  overflow: auto;
}
